* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

body {
	height: 100%;
	overflow: hidden;
}

.game-text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	left: 0;
	top: 0;
	color: #fff;
	font-size: 50px;
}

.game-text>button {
	padding: 0.5rem 1rem;
	color: #fff;
	background: salmon;
	border: none;
	cursor: pointer;
}

.game-start {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.game-start>button {
	padding: 0.5rem 1rem;
	color: #fff;
	background-color: salmon;
	border: none;
	cursor: pointer;
}

.score {
	text-align: center;
	font-size: 36px;
	margin-bottom: 1rem;
}

.score1 {
	text-align: center;
	font-size: 36px;
}

.playground>ul {
	border: 1px solid #333;
	width: 250px;
	margin: 0 auto;
}

.playground>ul>li {
	width: 100%;
	height: 25px;
}

.playground>ul>li>ul {
	display: flex;
}

.playground>ul>li>ul>li {
	width: 25px;
	height: 25px;
	outline: 1px solid #ccc;
}
.myModal {
	margin-top: 20px;
}
.modal-content{
	display: flex;
	font-size:15px;
}

.tree {
	background: #67c23a;
}

.bar {
	background: salmon;
}

.zmino {
	background: #e6a23c;
}

.jmino {
	background: #8e44ad;
}

.lmino {
	background: #16a085;
}

.square {
	background: black;
}

.smino {
	background: red;
}