<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/ab151a372f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../css/header.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="../../../css/footer.css">
   
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@500&display=swap" rel="stylesheet">
    <script src="../../../js/navbar.js" defer></script>
    
</head>
<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <i class="fa-brands fa-octopus-deploy"></i>
            <a href="">Tetris</a>
        </div>

        
        <ul class="navbar_menu">
            <li><a href="">HOME</a></li>
            <li><a href="">BOARD</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">ABOUT</a></li>
        </ul>
        
        <ul class="navbar_signup">
            <li><a href="">Sign-up</li>
        </ul>

        <ul class="navbar_icons">
            <li><i class="fa-brands fa-twitter"></i></li>
            <li><i class="fa-brands fa-instagram"></i></li>
        </ul>

        <a href="#" class="navbar_toggleBtn"><i class="fa-solid fa-bars"></i></a>
    </nav>

  
    <div class="wrapper">
        <div class="game-text">
            <span>게임종료</span>
            <button>다시시작</button>
        </div>
        <div class="score">0</div>
        <div class="playground">
            <ul></ul>
        </div>
    </div>
   

    <footer>
        <nav>
            <ul class="test">
            </ul>
            <ul><span class="inc">© 2023 Company, Inc</span></ul>
        </nav>
    </footer>

    <script src="../../../js/tetris.js type="module"></script>
</body>
</html>